header, nav, main, footer { 
	display: block; 
}

body { 
	background-image: url(../images/home_pic_view.jpg);
	font-family: Verdana, Arial, sans-serif;
}

#wrapper { 
	max-width: 960px;
	width: 100%;
    margin: auto;
	background-color: #f7efd8;
	color: #fec327;
	box-shadow: 0 0 20px 10px #000000;
	border-radius: 0px;
}

h1 { 
	background-image: url(../images/cheese_logo.jpg);
	background-size: 200px 155px;
	background-repeat: no-repeat;
    background-color: #330000;
	height: 110px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 4.5em;
    padding-left: 220px;
	padding-top: 45px;
	text-shadow: 3px 3px 3px #90745D;
	margin-bottom: 0;
}

img{
	float: right;
}

nav {
	padding: 10px 0px;
	
}


nav ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
	gap: 20px;
	justify-content: center;
}

nav li {
	font-weight: bold;
	padding: 0;
}

nav a { 
	text-decoration: none; 
}

nav a:link { 
	color: #fec327;
}

nav a:visited{ 
	color: #36454f; 
}

nav a:hover { 
	color: #fec327;
}

main { 
	background-color: #000000;
	padding: 20px 20px 20px 20px;   
	min-height: 300px;
}

.map-section {
  max-width: 900px; 
  margin: 40px auto; 
  padding: 0 20px; 
  font-family: Arial, sans-serif;
}

.map-section iframe {
  width: 100%; 
  height: 450px; 
  border-radius: 8px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: block; 
}

fieldset {
  margin: 15px 0;
  padding: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 8px;
}

fieldset label {
  display: block;
  margin: 5px 0;
}

footer { 
	background-color: #330000;
	padding: 20px;
	text-align: center;
	font-size: small;
	font-style: italic;
}

footer a:link { 
	color: #fec327;
}

footer a:visited{ 
	color: #36454f; 
}

footer a:hover { 
	color: #36454f;
}

table, th, td {
	border: 1px solid;
	text-align: center;
}

th {
	background-color: #330000;
}

form {
  border-radius: 5px;
  background-color: #330000;
  padding: 10px;
}

label {display: block;}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #f7efd8;
  color: #36454f;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fec327;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
	#wrapper {
		width: 100%;
	}
	
	nav ul {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	img {
		float: none;
		display: block;
		margin: 10px auto;
		max-width: 100%;
		height: auto;
	}

	h1 {
		font-size: 2.5em;
		padding-left: 0;
		text-align: center;
		background-position: center top;
	}
}

@media (max-width: 768px) {

	header h1 {
		background-image: none;
		padding: 10px 0;
		height: auto;
		font-size: 2.2em;
		text-align: center;
	}

	.site-title {
		margin-top: 10px;
	}

	nav {
		order: 1;
	}
}